<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Blog Template for Bootstrap!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('admin_index') }}">
        <img class="navbar-brand-full" src="{{ asset('favicon-32x32.png') }}" alt="Logo" width="32" height="32">
        <img class="navbar-brand-minimized" src="{{ asset('favicon-16x16.png') }}" alt="Logo" width="16" height="16">
    </a>
</header>
<div class="app-body">
    <div class="sidebar">
        {{ include('admin/sidebar.html.twig') }}
    </div>
    <main class="main">
        <ol class="breadcrumb">
            {{ include('admin/breadcrumb.html.twig') }}
        </ol>
        <div class="container-fluid">
            <div id="ui-view"></div>
            <div class="animated fadeIn">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
</div>
<footer class="app-footer">
    {{ include('admin/footer.html.twig') }}
</footer>
{% block javascripts %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}
</body>
</html>