{% extends 'base.html.twig' %}

{% block body %}
<h1 class="my-4">
    <span>Page Heading</span>
    <small>Secondary Text</small>
</h1>

{% for content in contents %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ content.title }}</h2>
        <p class="card-text">{{ content.content }}</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Published at {{ content.publishedAt | date() }}
    </div>
</div>
{% endfor %}

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    {% set pagination = contents.paginationData %}
    <li class="page-item{% if pagination.current == pagination.last %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.last %}#{% else %}{{ path('index_page', {'page': pagination.next}) }}{% endif %}">&larr; Older</a>
    </li>
    <li class="page-item{% if pagination.current == pagination.first %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.first %}#{% else %}{{ path('index_page', {'page': pagination.previous}) }}{% endif %}">Newer &rarr;</a>
    </li>
</ul>
{% endblock %}