{% extends 'base.html.twig' %}

{% block body %}
<h1 class="my-4">
    <span>{{ config.SITE_TITLE }}</span>
    <small>{{ config.SITE_SUBTITLE }}</small>
</h1>

{% for post in posts %}
<div class="card mb-4">
    {% if post.slug %}
        {% set postUrl = path('post', {'post': post.slug}) %}
    {% else %}
        {% set postUrl = path('post', {'post': post.id}) %}
    {% endif %}
    <div class="card-body">
        <h2 class="card-title"><a href="{{ postUrl }}">{{ post.title }}</a></h2>
        <p class="card-text">{{ post.content }}</p>
        <a href="{{ postUrl }}" class="btn btn-primary">{% trans %}post.read.more{% endtrans %}</a>
    </div>
    <div class="card-footer text-muted">
        <span><i class="fa fa-clock-o"></i>&nbsp{% trans %}post.published.at{% endtrans %} {{ post.publishedAt | date() }}</span>
        <span><i class="fa fa-tag"></i>&nbsp;{% trans %}post.tags{% endtrans %}</span>
        {% for tag in post.tags %}
            <a href="{% if tag.slug is null%}{{ path('posts_tag', {'tag': tag.id}) }}{% else %}{{ path('posts_tag', {'tag': tag.slug}) }}{% endif %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% set pagination = posts.paginationData %}
{% if pagination.pageCount > 0 %}
<ul class="pagination justify-content-center mb-4">
    <li class="page-item{% if pagination.current == pagination.last %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.last %}#{% else %}{{ path('posts_page', {'page': pagination.next}) }}{% endif %}">
            {% trans %}post.list.older{% endtrans %}
        </a>
    </li>
    <li class="page-item{% if pagination.current == pagination.first %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.first %}#{% else %}{{ path('posts_page', {'page': pagination.previous}) }}{% endif %}">
            {% trans %}post.list.newer{% endtrans %}
        </a>
    </li>
</ul>
{% endif %}
{% endblock %}