{% extends 'base.html.twig' %}

{% block body %}
<h1 class="my-4">
    <span>Page Heading</span>
    <small>Secondary Text</small>
</h1>

{% for post in posts %}
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content }}</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        <span>&nbsp;<i class="fa fa-clock-o"></i>&nbsp;Posted on {{ post.publishedAt | date() }}</span>
        <span>&nbsp;<i class="fa fa-tag"></i>&nbsp;Tagged with:</span>
        {% for tag in post.tags %}
            <a href="{% if tag.slug is null%}{{ path('posts_tag', {'tag': tag.id}) }}{% else %}{{ path('posts_tag', {'tag': tag.slug}) }}{% endif %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
<ul class="pagination justify-content-center mb-4">
    {% set pagination = posts.paginationData %}
    <li class="page-item{% if pagination.current == pagination.last %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.last %}#{% else %}{{ path('posts_page', {'page': pagination.next}) }}{% endif %}">&larr; Older</a>
    </li>
    <li class="page-item{% if pagination.current == pagination.first %} disabled{% endif %}">
        <a class="page-link" href="{% if pagination.current == pagination.first %}#{% else %}{{ path('posts_page', {'page': pagination.previous}) }}{% endif %}">Newer &rarr;</a>
    </li>
</ul>
{% endblock %}